# Database
PG_USER=seu_usuario
PG_PASSWORD=sua_senha
PG_DB_NAME=nadevault
PG_URL=postgres://seu_usuario:sua_senha@db:5432/nadevault?sslmode=disable

# Redis
REDIS_PASSWORD=senha_segura

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=senha_forte