# Compilados e Binários (O MAIS IMPORTANTE)
# Nunca comite isso. Eles são gerados pelo build.
[Bb]in/
[Oo]bj/

# Configurações de IDE e Usuário
.vs/
.vscode/
*.user
*.suo

# Arquivos de Sistema (Lixo do SO)
.DS_Store
Thumbs.db

# Variáveis de Ambiente e Segredos (SEGURANÇA)
# Nunca suba chaves de API ou senhas
.env
appsettings.Development.json