package templates

templ Layout() {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NadeVault</title>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="/static/js/uploader.js?v=0.0.1"></script>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
       <div class="topbar">
        <div class="topbar-inner">

          <a href="/" class="brand">
            NadeVault
            <span class="badge">alpha</span>
          </a>

          <div class="row">
            <a href="/admin/nades" class="btn btn-primary">
              Admin
            </a>
          </div>

        </div>
      </div>

       {children...}
    </body>
    </html>
    
}