{{define "uploadForm"}}
{{if .PublicID}}
<div class="upload-section">
    <h2>Upload images</h2>

    <input type="hidden" name="public_id" value="{{.PublicID}}">

    <form 
        hx-post="/admin/nades/{{.PublicID}}/presign"
        hx-target="#upload-section"
        hx-swap="outerHTML"
        enctype="multipart/form-data">

        <input type="file" name="aim_at">
        <button type="submit">Upload</button>
    </form>
</div>
{{else}}
<p>Failed to create nade. Please try again.</p>
{{end}}
{{end}}